body {
  background-color: #eee;
}

* {
  box-sizing: border-box;
}

.payCenter {
  margin: 15px 0 0 0;
  background-color: #eceeef;
  color: #5a5a5a;
}

.p-title {
  height: 54px;
  line-height: 54px;
  margin-bottom: 2px;
  background-color: white;
  position: relative;
}

.p-title span {
  position: absolute;
  display: block;
  height: 28px;
  line-height: 28px;
  right: 10px;
  top: 50%;
  margin-top: -14px;
  padding: 0px 8px;
  border-radius: 5px;
  border: 1px solid #eceeef;
  color: #eceeef;
  cursor: pointer;
}

.index-block {
  color: #5a5a5a;
  position: relative;
  padding-left: 16px;
}

.index-block:after {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -10px;
  content: '';
  width: 5px;
  height: 20px;
  background-color: #f15a29;
  z-index: 1;
}

.to-left {
  float: left;
}

.p-show {
  position: relative;
  background-color: white;
  height: 450px;
}

.show-left, .show-right {
  width: 17.85714%;
  position: absolute;
  top: 0;
  text-align: center;
  height: 100%;
}

.show-left {
  left: 0;
  border-right: 1px solid #eceeef;
}

.show-left .arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  right: -15px;
  top: 50%;
  margin-top: -15px;
  background-color: #eceeef;
  border-radius: 50%;
}

.show-left .arrow span {
  position: absolute;
  left: 4px;
  top: 4px;
  display: block;
  height: 22px;
  width: 22px;
  line-height: 22px;
  border-radius: 50%;
  background-color: #f15a29;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.show-left .pay-pro {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -75px;
  margin-left: -75px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #f15a29;
}

.show-left .pay-pro p {
  height: 100%;
  width: 100%;
  background-image: url(../img/count/1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
}

.show-left .pay-pro a {
  display: block;
  height: 100%;
  width: 100%;
  color: #f15a29;
  padding-top: 96px;
}

.gray-arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  left: -15px;
  top: 50%;
  margin-top: -15px;
  background-color: white;
  border-radius: 50%;
}

.gray-arrow span {
  position: absolute;
  left: 4px;
  top: 4px;
  display: block;
  height: 22px;
  width: 22px;
  text-align: center;
  line-height: 22px;
  border-radius: 50%;
  background-color: #eceeef;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.gray-arrow span img {
  vertical-align: middle;
}

.show-right {
  right: 0;
  padding: 60px 0;
  border-left: 1px solid #eceeef;
}

.show-right .arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  left: -15px;
  top: 50%;
  margin-top: -15px;
  background-color: #eceeef;
  border-radius: 50%;
}

.show-right .arrow span {
  position: absolute;
  left: 4px;
  top: 4px;
  display: block;
  height: 22px;
  width: 22px;
  line-height: 22px;
  border-radius: 50%;
  background-color: #f15a29;
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.show-right .export-btn, .show-right .print-btn {
  position: absolute;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 2px solid #f15a29;
}

.show-right .export-btn p, .show-right .print-btn p {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
}

.show-right .export-btn a, .show-right .print-btn a {
  display: block;
  height: 100%;
  width: 100%;
  color: #f15a29;
  padding-top: 96px;
}

.show-right .export-btn {
  top: 30px;
}

.show-right .export-btn p {
  background-image: url(../img/count/12.png);
}

.show-right .print-btn {
  top: 230px;
}

.show-right .print-btn p {
  background-image: url(../img/count/13.png);
}

.show-center {
  width: 64.28571%;
  height: 100%;
  position: absolute;
  left: 17.85714%;
  right: 17.85714%;
  padding: 40px 0;
}

.show-center .center-detail {
  width: 94%;
  padding: 0 10px;
  overflow: hidden;
  margin: 0 auto;
}

.show-center .center-detail > div {
  width: 27.77778%;
  margin: 0 2.77778%;
}

.show-center .import {
  margin-bottom: 58px;
}

.show-center .creat {
  margin: 0 -5px;
  position: relative;
}

.show-center .creat .gray-arrow {
  top: 0px;
  left: 50%;
  margin-left: -15px;
}

.show-center .creat .gray-arrow span {
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}

.show-center .creat:after {
  content: '';
  position: absolute;
  height: 60px;
  width: 3px;
  background-color: #eceeef;
  top: -60px;
  left: 50%;
  margin-left: -1.5px;
}

.show-center .creat:before {
  content: '';
  position: absolute;
  height: 3px;
  width: 42px;
  background-color: #eceeef;
  top: 58px;
  right: -42px;
  margin-top: -1.5px;
}

.show-center .creat .qz-check input {
  border: 1px solid #eceeef;
  background-color: transparent;
  outline: none;
  vertical-align: middle;
  margin: 0 0 2px 0 !important;
}

.show-center .creat .qz-check span {
  display: inline-block;
  line-height: 16px;
  font-size: 12px;
  margin-left: 2px;
}

.show-center .op-1 {
  margin-bottom: 35px;
  position: relative;
}

.show-center .op-1 .gray-arrow {
  top: 160px;
  left: 50%;
  margin-left: -15px;
  z-index: 10;
}

.show-center .op-1 .gray-arrow span {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.show-center .op-1:before {
  content: '';
  position: absolute;
  height: 3px;
  width: 50px;
  background-color: #eceeef;
  top: 50%;
  right: -50px;
  margin-top: -1.5px;
}

.show-center .op-2 {
  position: relative;
}

.show-center .op-2:after {
  content: '';
  position: absolute;
  height: 36px;
  width: 3px;
  background-color: #eceeef;
  top: -36px;
  left: 50%;
  margin-left: -1.5px;
}

.show-center .op-2:before {
  content: '';
  position: absolute;
  height: 3px;
  width: 50px;
  background-color: #eceeef;
  top: 50%;
  right: -50px;
  margin-top: -1.5px;
}

.show-center .op-3 {
  margin-top: 34px;
  position: relative;
}

.show-center .op-4 {
  margin-top: 102px;
  position: relative;
}

.box-container {
  padding: 16px 16px 8px 16px;
}

.set-border {
  border: 1px solid #eceeef;
}

.block {
  height: 60px;
  width: 100%;
  line-height: 60px;
  margin-bottom: 8px;
  position: relative;
}

.block a {
  display: block;
  height: 100%;
  width: 100%;
  background-color: #eceeef;
  color: #5a5a5a;
  font-size: 14px;
  position: relative;
  padding-left: 32%;
}

.block a span {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  left: 6%;
  width: 32px;
  height: 32px;
  display: block;
  border-radius: 50%;
  padding: 0;
  background-color: #f15a29;
  text-align: center;
  line-height: 32px;
}

.block a img {
  vertical-align: middle;
}

.btm-op {
  margin-top: 15px;
  background-color: white;
  height: 56px;
  position: relative;
}

.btm-op .index-block {
  line-height: 56px;
}

.btm-op .options {
  position: absolute;
  right: 10px;
  top: 50%;
  height: 32px;
  margin-top: -16px;
}

.btm-op .options button {
  background-color: transparent;
  border: none;
  background-repeat: no-repeat;
  outline: transparent;
}

.btm-op .options button span {
  width: 32px;
  height: 32px;
  display: inline-block;
  border-radius: 50%;
  padding: 0;
  background-color: #eceeef;
  text-align: center;
  line-height: 32px;
  margin-right: 10px;
}

.btm-op .options button img {
  vertical-align: middle;
}

.sel a {
  background-color: #f15a29 !important;
  color: white !important;
}

.sel a span {
  background-color: white !important;
}

.sup-btn, .sub-btn {
  border: 3px solid white;
  background-color: #eceeef;
  padding: 0 3px;
  border-radius: 5px;
  height: 24px;
  position: absolute;
  right: -12px;
  top: -5px;
  z-index: 100;
  line-height: 20px;
  font-size: 12px;
  color: #f15a29;
}

.sub-btn {
  top: inherit;
  bottom: -5px;
}

.sup-btn:hover, .sub-btn:hover {
  color: white;
  background-color: #f15a29 !important;
}

.creat-btn, .import2, .import1 {
  position: relative;
}

@media screen and (max-width: 1550px) {
  .my-check {
    display: block;
    text-align: left;
    line-height: 16px;
  }
}

/*# sourceMappingURL=../maps/payCount.css.map */
