@charset "UTF-8";
.icon-tri-blue-right {
  background-image: url(../img/icon/tri-blue-right.png);
  display: block;
  width: 8px;
  height: 10px;
}

.icon-tri-white-right {
  background-image: url(../img/icon/tri-white-bottom.png);
  display: block;
  width: 5px;
  height: 4px;
}

.icon-tri-add-defalut {
  background-image: url(../img/icon/tri-add-defalut.png);
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.icon-tri-add-select {
  background-image: url(../img/icon/tri-add-select.png);
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.icon-search {
  background-image: url(../img/icon/search.png);
  display: block;
  width: 16px;
  height: 15px;
}

.wm .icon-add {
  background-image: url(../img/icon/circle-add.png);
  display: block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}

.wm .icon-status {
  background-image: url(../img/icon/circle-using.png);
  display: block;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: center center;
}

.wm .icon-status.ban, .wm-table .icon-status.ban {
  background-image: url(../img/icon/circle-ban.png);
  display: block;
  width: 23px;
  height: 23px;
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-search-big {
  background-image: url(../img/icon/icon-search-big.png);
  display: block;
  width: 17px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  font-family: "Microsoft yahei", "sans-serif", "宋体";
}

.wm:after {
  display: table;
  content: "";
  clear: both;
}

.wm {
  min-width: 600px;
  padding: 26px 40px 40px 40px;
  border: 1px solid #f2f2f2;
}

.wm .icon-add {
  margin: 0 auto;
}

.wm .icon-status {
  margin: 0 auto;
}

.wm .icon-ban:before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 10px;
  vertical-align: bottom;
  background-image: url(../img/waterMessage/link.png);
}

.wm .icon-untie:before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 10px;
  vertical-align: bottom;
  background-image: url(../img/waterMessage/lock.png);
}

.wm .icon-modify:before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 10px;
  vertical-align: bottom;
  background-image: url(../img/waterMessage/cange-book.png);
}

.wm-operation {
  padding: 0;
  margin-bottom: 12px;
  margin-top: 0;
  margin-right: 12px;
  font-size: 14px;
  float: right;
  list-style: none;
  color: #808080;
}

.wm-operation li {
  float: left;
  position: relative;
  margin-left: 35px;
  cursor: pointer;
}

.wm-operation li + li:after {
  display: block;
  position: absolute;
  content: '';
  width: 1px;
  height: 100%;
  top: 0;
  left: -17px;
  background-color: #808080;
}

.wm-operation li:hover {
  color: #57a3f1;
}

.wm-table {
  box-sizing: border-box;
  width: 100%;
  border-collapse: collapse;
  color: #808080;
  font-size: 14px;
}

.wm-table input {
  padding: 3px;
  width: 88%;
  height: 2rem;
  color: #808080;
  font-size: inherit;
  border: none;
  background-color: transparent;
}

.wm-table tr {
  height: 40px;
  text-align: center;
  cursor: pointer;
}

.wm-table tr.change, .wm-table tr:hover:not(:last-child) {
  background-color: #fffaf8;
}

.wm-table th {
  background-color: #f2f2f2;
  white-space: nowrap;
  line-height: 40px;
  text-align: center;
}

.wm-table th:nth-child(1) {
  width: 10%;
}

.wm-table th:nth-child(2) {
  width: 14%;
}

.wm-table th:nth-child(3) {
  width: 14%;
}

.wm-table th:nth-child(4) {
  width: 14%;
}

.wm-table th:nth-child(5) {
  width: 14%;
}

.wm-table th:nth-child(6) {
  width: 34%;
}

.wm-table-title {
  color: #e87751;
}

.wm-table i {
  vertical-align: middle;
}

.wm-table td {
  border: 1px solid #f2f2f2;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
}

.wm-table input {
  box-sizing: border-box;
  cursor: pointer;
  vertical-align: middle;
}

.wm-table .wm-edit-div {
  border-radius: 2px;
  outline: none;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.wm-table .wm-remark {
  text-align: left;
}

.wm-table .unsaved input {
  outline: none;
  cursor: text;
  box-shadow: 0 0 2px 1px #57a3f1;
  border: 2px solid #57a3f1 \9;
}

.wm-table .icon-status {
  cursor: pointer;
}

.wm-table .icon-add {
  cursor: pointer;
}

/*# sourceMappingURL=../maps/waterMessage.css.map */
