.pb-title{
	.current-title{
		margin: 0 10%;
		margin-bottom: 20px;
		border-bottom: 1px dashed #d9d9d9;
	}
}
.print-result{
	p{
		line-height: 50px;
		text-align: center;
		color: #808080;
		span{
			font-size: 20px;
			color:#808080;
			vertical-align: bottom;
		}
	}
}
.pb-btn-group{
	margin-top: 50px !important;
	text-align: right !important;
}